@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global tweaks */
body {
  @apply bg-white text-gray-900 transition-colors duration-300;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* Dark mode */
.dark body {
  @apply bg-gray-900 text-gray-600;
}

/* NavBar*/
#myNav:hover {
  scale: 1.2;
  color: aquamarine;
}
#PortfolioHead:hover {
  text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
  scale: 1.2;
}
/* Home Page */

#hometext {
  animation: fadeUp;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#hometext:hover {
  scale: 1.15;
  font-style: italic;
}

/* About Page */
.about {
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0px solid rgb(69, 66, 66);
  border-radius: 8px;
  background-color: rgb(229, 231, 235);
}
.about:hover {
  transform: translateY(-3%);
  font-style: italic;
}
#about_head {
  animation: fadeUp;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
  scale: 1.2;
}
#about_head:hover {
  scale: 1.5;
  /* font-style: italic; */
}
#about_bg {
  animation: fadeUp;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#about_tm {
  animation: fadeUp;
  animation-duration: 2.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#about_hb {
  animation: fadeUp;
  animation-duration: 3.2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
/* lisst page */
#list_head {
  animation: fadeUp;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
  scale: 1.2;
}
#list_head:hover {
  scale: 1.5;
  /* font-style: italic; */
}
#list_1 {
  animation: fadeUp;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#list_1:hover {
  transform: translateY(-3%);
  font-style: italic;
}
#list_2 {
  animation: fadeUp;
  animation-duration: 2.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#list_2:hover {
  transform: translateY(-3%);
  font-style: italic;
}
/* contact page */
#con_head {
  animation: fadeUp;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
  scale: 1.2;
}
#con_head:hover {
  scale: 1.5;
  /* font-style: italic; */
}
#con_1 {
  animation: fadeUp;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#con_1:hover {
  transform: translateY(-3%);
  font-style: italic;
}
#con_2 {
  animation: fadeUp;
  animation-duration: 2.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}
#con_2:hover {
  transform: translateY(-3%);
  font-style: italic;
}
@keyframes fadeUp {
  from {
    transform: translateY(300%);
  }
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
