<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>✨Linkly: URL Shortener</h1>
    <p>Enter a <b>url</b> to shorten</p>

    <input id="linkInput" type="text" placeholder="Enter your url">
    <button onclick="submitLink()">Submit Link</button>

    <p id="responseText"></p>
    <br>
    <div id = "LinksContainer"></div>
    
    <button onclick="getAllLinks()">All links list</button>
    <script>
        async function submitLink() {
            const link = document.getElementById('linkInput').value;
            if (!link) {
                document.getElementById('responseText').innerText = "⚠️ Please enter a link.";
                return;
            }
	
            const res = await fetch('/api/shorten', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ link })
            });

            const data = await res.json();
            if (data.error) {
                document.getElementById('responseText').innerText = "❌ " + data.error;
            } else {
                document.getElementById('responseText').innerText = 
                    `Your link: ${data.long_link}\nShort url: ${data.result}`;
            }
        }
        async function getAllLinks(){
        	const res = await fetch('/api/show',{
        	method: 'GET'
        	});
        	const data = await res.json();
        	// Reference to the empty div
  const container = document.getElementById("LinksContainer");
container.innerHTML = "";
  // Dynamically insert key-value pairs
  for (const [key, value] of Object.entries(data)) {
    const itemDiv = document.createElement("div");
    itemDiv.innerHTML = `Original link: <b>${key}</b>: Shortened Link <i>${value}</i>`;
    container.appendChild(itemDiv);
  }
        }
    </script>
</body>
</html>
